html, body {
    margin: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	background: #191919;
}

#gameArea {
	height: 600px;
	box-shadow: 0 0  25px 3px black;
}